{% include "header.html" %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="mt-4 h3 mb-0 text-gray-800">Admin</h1>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Spots</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Lat</th>
                                            <th>Long</th>
                                            <th>Offside</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>Add</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Lat</th>
                                            <th>Long</th>
                                            <th>Offside</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>
                                                <a href="{{ url_for('add_new_spot') }}" class="btn btn-success btn-circle">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for spot in spots %}
                                        <tr>
                                            <td>{{ spot.name }}</td>
                                            <td>{{ spot.lat }}</td>
                                            <td>{{ spot.long }}</td>
                                            <td>{{ spot.offside }}</td>
                                            <td>
                                                <a href="{{ url_for('edit_spot', spot_id=spot.id) }}" class="btn btn-primary btn-circle">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ url_for('delete_spot', spot_id=spot.id) }}" class="btn btn-danger btn-circle">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

{% include "footer.html" %}